Repository eBay/skin, pull requests merged in 2018-06, with the labels that each got.

#219 Adding missing select and combobox imports;
  combobox.browser.json
  select.browser.json
Labels: design system: DS6, module: combobox, module: select, type: bug

#218 Fixing alignment and font; add another example;
  dist/select/ds6/select.css
  docs/_includes/ds6/select.html
  docs/static/ds6/skin.css
  src/less/select/ds6/select-base.less
Labels: squash: yes please

#220 Merge 5.0.2 branch into master branch prior to release
  combobox.browser.json
  dist/grid/ds4/grid-full.css
  dist/pagination/ds4/pagination.css
  dist/select/ds6/select.css
  docs/_includes/ds4/cdn.html
  docs/_includes/ds4/grid.html
  docs/_includes/ds6/install.html
  docs/_includes/ds6/select.html
  docs/static/ds4/docs.js
  docs/static/ds4/grid-full.css
  docs/static/ds4/skin-full.css
  docs/static/ds4/skin-large.css
  docs/static/ds4/skin.css
  docs/static/ds6/docs.js
  docs/static/ds6/skin.css
  select.browser.json
  src/less/pagination/ds4/pagination.less
  src/less/select/ds6/select-base.less
Labels: squash: no thanks

#237 Added inverted checkbox & radio icons
  dist/checkbox/ds6/checkbox.css
  dist/less/ds6/mixins.less
  dist/less/ds6/variables.less
  dist/radio/ds6/radio.css
  docs/static/ds6/skin.css
  src/less/checkbox/ds6/checkbox-base.less
  src/less/less/ds6/mixins.less
  src/less/less/ds6/variables.less
  src/less/radio/ds6/radio-base.less
Labels: squash: yes please

#240 Issue 231: Support inline SVG for expand button in DS6
  dist/button/ds6/button.css
  docs/_includes/ds6/menu.html
  docs/static/ds6/skin.css
  src/less/button/ds6/button-base.less
Labels: module: button, module: menu

#242 233-whcm - Fixes for background icons within components when in Windows High Contrast Mode
  dist/breadcrumb/ds6/breadcrumb.css
  dist/button/ds6/button.css
  dist/combobox/ds6/combobox.css
  dist/dialog/ds6/dialog.css
  dist/dropdown/ds6/dropdown.css
  dist/less/ds6/mixins.less
  dist/less/ds6/variables.less
  dist/notice/ds6/notice.css
  dist/pagination/ds6/pagination.css
  dist/select/ds6/select.css
  docs/static/ds6/skin.css
  src/less/breadcrumb/ds6/breadcrumb-base.less
  src/less/button/ds6/button-base.less
  src/less/combobox/ds6/combobox-base.less
  src/less/dialog/ds6/dialog-base.less
  src/less/dropdown/ds6/dropdown-base.less
  src/less/less/ds6/mixins.less
  src/less/less/ds6/variables.less
  src/less/notice/ds6/notice-base.less
  src/less/pagination/ds6/pagination-base.less
  src/less/select/ds6/select-base.less
Labels: module: breadcrumbs, module: button, module: combobox, module: menu, module: notice, module: pagination, module: select
