Repository eBay/skin, pull requests merged in 2018-08, with the labels that each got.

#311 update red alert color
  dist/button/ds6/button.css
  dist/less/ds6/variables.less
  dist/notice/ds6/notice.css
  docs/_includes/ds6/less.html
  docs/_includes/ds6/radio-custom.html
  docs/static/ds6/docs.css
  docs/static/ds6/skin.css
  src/less/less/ds6/variables.less
Labels: module: notice

#317 make dialog wider at 767px or lower
  dist/dialog/ds4/dialog.css
  dist/dialog/ds6/dialog.css
  docs/static/ds4/skin-full.css
  docs/static/ds4/skin.css
  docs/static/ds6/skin.css
  src/less/dialog/base/dialog.less
Labels: module: dialog

#313 standardize DS6 font sizes on forms
  dist/button/ds4/button.css
  dist/button/ds6/button.css
  dist/combobox/ds4/combobox.css
  dist/combobox/ds6/combobox.css
  dist/less/ds4/variables.less
  dist/less/ds6/variables.less
  dist/less/variables-common.less
  dist/select/ds6/select.css
  dist/textbox/ds6/textbox.css
  docs/_includes/common/button.html
  docs/_includes/ds4/button-small.html
  docs/_includes/ds4/button-xlarge.html
  docs/_includes/ds6/button-small.html
  docs/_includes/ds6/button-xlarge.html
  docs/static/ds4/skin-full.css
  docs/static/ds4/skin.css
  docs/static/ds6/skin.css
  docs/test/button/ds6/button-sizes.html
  src/less/button/base/button.less
  src/less/button/ds4/button.less
  src/less/button/ds6/button-legacy.less
  src/less/button/ds6/button-sizes.less
  src/less/button/ds6/button.less
  src/less/combobox/base/combobox.less
  src/less/combobox/ds6/combobox.less
  src/less/less/ds4/variables.less
  src/less/less/ds6/variables.less
  src/less/less/variables-common.less
  src/less/listbox/ds4/listbox-base.less
  src/less/select/ds4/select.less
  src/less/select/ds6/select.less
  src/less/textbox/ds4/textbox.less
  src/less/textbox/ds6/textbox.less
Labels: module: button, module: combobox, module: menu, module: select, module: textbox

#341 dialog btn breaks to next line
  docs/src/js/ds6/main.js
  docs/static/ds6/docs.js
Labels: squash: yes please

#346 Aligns all the borderless versions of select, menu and combobox;
  dist/combobox/ds4/combobox.css
  dist/combobox/ds6/combobox.css
  dist/dropdown/ds4/dropdown.css
  dist/dropdown/ds6/dropdown.css
  dist/menu/ds4/menu.css
  dist/menu/ds6/menu.css
  docs/static/ds4/skin-full.css
  docs/static/ds4/skin.css
  docs/static/ds6/skin.css
  src/less/combobox/base/combobox.less
  src/less/dropdown/base/dropdown.less
  src/less/dropdown/ds4/dropdown.less
Labels: squash: yes please

#342 Force maximum height for menu and combobox items, with scroll;
  dist/combobox/ds6/combobox.css
  dist/dropdown/ds6/dropdown.css
  dist/menu/ds6/menu.css
  docs/_includes/common/combobox.html
  docs/_includes/ds4/combobox-custom.html
  docs/_includes/ds6/combobox-custom.html
  docs/_includes/ds6/menu-custom.html
  docs/src/js/ds6/main.js
  docs/src/less/ds6/index.less
  docs/static/ds6/docs.css
  docs/static/ds6/docs.js
  docs/static/ds6/skin.css
  src/less/dropdown/ds6/dropdown.less
Labels: squash: yes please
