Repository eBay/skin, pull requests merged in 2019-09, with the labels that each got.

#801 DS6.5 Switch
  dist/switch/ds4/switch.css
  dist/switch/ds6/switch.css
  docs/_includes/tests/switch.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/switch/base/switch.less
  src/less/switch/ds4/switch.less
  src/less/switch/ds6/switch.less
Labels: module: switch, squash: yes please

#811 Dropdown item focus indicator fix;
  dist/combobox/ds4/combobox.css
  dist/combobox/ds6/combobox.css
  dist/listbox-button/ds4/listbox-button.css
  dist/listbox-button/ds6/listbox-button.css
  dist/listbox/ds4/listbox.css
  dist/listbox/ds6/listbox.css
  dist/menu-button/ds4/menu-button.css
  dist/menu-button/ds6/menu-button.css
  dist/menu/ds4/menu.css
  dist/menu/ds6/menu.css
  dist/mixins/dropdown/base/dropdown-mixins.less
  dist/variables/ds4/dropdown-variables.less
  dist/variables/ds6/dropdown-variables.less
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/mixins/dropdown/base/dropdown-mixins.less
  src/less/variables/ds4/dropdown-variables.less
  src/less/variables/ds6/dropdown-variables.less
Labels: module: combobox, module: listbox, module: listbox-button, module: menu, module: menu-button, squash: yes please

#802 DS6.5 link updates
  dist/global/ds6/global.css
  dist/link/ds4/link.css
  dist/link/ds6/link.css
  dist/variables/ds4/color-variables.less
  dist/variables/ds6/color-variables.less
  docs/_includes/common/link.html
  docs/_includes/tests/link.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/global/ds6/global.less
  src/less/link/base/link.less
  src/less/link/ds4/link.less
  src/less/link/ds6/link.less
  src/less/variables/ds4/color-variables.less
  src/less/variables/ds6/color-variables.less
Labels: module: link, squash: yes please

#800 DS6.5 checkbox and radios
  dist/checkbox/ds4/checkbox.css
  dist/checkbox/ds6/checkbox.css
  dist/mixins/checkbox/ds4/checkbox-mixins.less
  dist/mixins/checkbox/ds6/checkbox-mixins.less
  dist/mixins/radio/ds4/radio-mixins.less
  dist/mixins/radio/ds6/radio-mixins.less
  dist/radio/ds4/radio.css
  dist/radio/ds6/radio.css
  dist/variables/ds4/checkbox-variables.less
  dist/variables/ds4/radio-variables.less
  dist/variables/ds6/checkbox-variables.less
  dist/variables/ds6/icon-variables.less
  dist/variables/ds6/radio-variables.less
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/checkbox/base/checkbox.less
  src/less/checkbox/ds4/checkbox.less
  src/less/checkbox/ds6/checkbox.less
  src/less/mixins/checkbox/ds4/checkbox-mixins.less
  src/less/mixins/checkbox/ds6/checkbox-mixins.less
  src/less/mixins/radio/ds4/radio-mixins.less
  src/less/mixins/radio/ds6/radio-mixins.less
  src/less/radio/base/radio.less
  src/less/radio/ds4/radio.less
  src/less/radio/ds6/radio.less
  src/less/variables/ds4/checkbox-variables.less
  src/less/variables/ds4/radio-variables.less
  src/less/variables/ds6/checkbox-variables.less
  src/less/variables/ds6/icon-variables.less
  src/less/variables/ds6/radio-variables.less
Labels: module: checkbox, module: radio, squash: yes please

#813 Update pagination icon
  dist/mixins/pagination/base/pagination-mixins.less
  dist/mixins/pagination/ds4/pagination-mixins.less
  dist/mixins/pagination/ds6/pagination-mixins.less
  dist/pagination/ds6/pagination.css
  dist/variables/ds6/icon-variables.less
  dist/variables/ds6/pagination-variables.less
  docs/static/ds6/skin.min.css
  src/less/mixins/pagination/base/pagination-mixins.less
  src/less/mixins/pagination/ds4/pagination-mixins.less
  src/less/mixins/pagination/ds6/pagination-mixins.less
  src/less/variables/ds6/icon-variables.less
  src/less/variables/ds6/pagination-variables.less
Labels: module: pagination, squash: yes please

#819 fix tooltip regression bug and tests
  dist/tooltip/ds4/tooltip.css
  dist/tooltip/ds6/tooltip.css
  dist/variables/base/tooltip-variables.less
  docs/_includes/tests/tooltip.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/tooltip/base/tooltip.less
  src/less/tooltip/ds6/tooltip.less
  src/less/variables/base/tooltip-variables.less
Labels: module: tooltip, squash: yes please

#825 Fixes for the menu button / menu split
  dist/menu-button/ds4/menu-button.css
  dist/menu-button/ds6/menu-button.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/menu-button/base/menu-button.less
  src/less/menu/base/menu.less
Labels: module: menu, module: menu-button, squash: yes please

#830 Fixed DS6 colors and confirmation icon
  dist/color/ds6/color.css
  dist/icon-small/background/ds6/background.css
  dist/icon/background/ds6/background-bundle.css
  dist/icon/background/ds6/background.css
  dist/notice/ds6/notice.css
  dist/svg/ds6/icons.svg
  dist/utility/ds6/utility.css
  dist/variables/ds6/base64-variables.less
  dist/variables/ds6/color-variables.less
  docs/_includes/ds6/symbols.html
  docs/static/ds6/docs.min.css
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  src/less/variables/ds6/base64-variables.less
  src/less/variables/ds6/color-variables.less
  src/svg/ds6/icons.svg
Labels: module: color, module: icon, squash: yes please, type: bug

#821 Website: new layout & navigation
  .gitignore
  dist/variables/base/typography-variables.less
  dist/variables/ds4/color-variables.less
  dist/variables/ds6/typography-variables.less
  docs/_config.yml
  docs/_includes/common/about.html
  docs/_includes/common/bundles.html
  docs/_includes/common/bundling.html
  docs/_includes/common/checkbox.html
  docs/_includes/common/cta-button.html
  docs/_includes/common/ds.html
  docs/_includes/common/flags.html
  docs/_includes/common/icon.html
  docs/_includes/common/install.html
  docs/_includes/common/intro.html
  docs/_includes/common/less.html
  docs/_includes/common/main.html
  docs/_includes/common/marketsans.html
  docs/_includes/common/module-list.html
  docs/_includes/common/radio.html
  docs/_includes/common/section-ds.html
  docs/_includes/common/section-head.html
  docs/_includes/common/section-main.html
  docs/_includes/common/section-modules.html
  docs/_includes/common/section-setup.html
  docs/_includes/common/utility.html
  docs/_includes/ds4/card.html
  docs/_includes/ds4/footer.html
  docs/_includes/ds4/icon-custom.html
  docs/_includes/ds4/less-custom.html
  docs/_includes/ds6/icon-custom.html
  docs/_includes/ds6/less-custom.html
  docs/_layouts/default.html
  docs/_layouts/ds4.html
  docs/_layouts/ds6.html
  docs/_layouts/testindex.html
  docs/ds6/index.html
  docs/index.html
  docs/src/js/ds6/main.js
  docs/src/less/base/index.less
  docs/src/less/base/pygments.less
  docs/src/less/ds4/colors.less
  docs/src/less/ds4/grid.less
  docs/src/less/ds4/index.less
  docs/src/less/ds6/index.less
  docs/src/less/highlight.less
  docs/static/ds4/docs.min.css
  docs/static/ds4/docs.min.css.89386.0f64
  docs/static/ds6/docs.min.css
  docs/static/ds6/docs.min.js
  docs/static/hero.jpg
  docs/test/index.html
  package.json
  src/less/variables/base/typography-variables.less
  src/less/variables/ds4/color-variables.less
  src/less/variables/ds6/typography-variables.less
Labels: squash: yes please

#839 Menu: Fix for fake menu button;
  dist/combobox/ds4/combobox.css
  dist/combobox/ds6/combobox.css
  dist/listbox-button/ds4/listbox-button.css
  dist/listbox-button/ds6/listbox-button.css
  dist/listbox/ds4/listbox.css
  dist/listbox/ds6/listbox.css
  dist/menu-button/ds4/menu-button.css
  dist/menu-button/ds6/menu-button.css
  dist/menu/ds4/menu.css
  dist/menu/ds6/menu.css
  docs/_includes/tests/menu.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/menu/base/menu.less
  src/less/mixins/dropdown/base/dropdown-mixins.less
Labels: module: menu

#835 Expand button: Fix padding; minor cleanup;
  dist/expand-button/ds4/expand-button.css
  dist/expand-button/ds6/expand-button.css
  dist/mixins/dropdown/base/dropdown-mixins.less
  docs/_includes/tests/expand-button.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/expand-button/ds4/expand-button.less
  src/less/expand-button/ds6/expand-button.less
Labels: squash: yes please

#834 DS6.5 changes for page notice
  dist/notice/ds4/notice.css
  dist/notice/ds6/notice.css
  docs/_includes/common/notice.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/notice/base/notice.less
  src/less/notice/ds4/notice.less
  src/less/notice/ds6/notice.less
Labels: module: notice

#828 Updated carousel styles for new ds6.5
  dist/carousel/ds4/carousel.css
  dist/carousel/ds6/carousel.css
  dist/icon/background/ds4/background.css
  dist/icon/foreground/ds4/foreground.css
  dist/mixins/carousel/base/carousel-mixins.less
  dist/mixins/carousel/ds4/carousel-mixins.less
  dist/mixins/carousel/ds6/carousel-mixins.less
  dist/svg/ds4/icons.svg
  dist/variables/ds4/carousel-variables.less
  dist/variables/ds6/carousel-variables.less
  docs/_includes/common/carousel.html
  docs/_includes/ds4/symbols.html
  docs/static/ds4/skin-base64.min.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/carousel/base/carousel.less
  src/less/carousel/ds4/carousel.less
  src/less/carousel/ds6/carousel.less
  src/less/icon/background/ds4/background.less
  src/less/icon/foreground/ds4/foreground.less
  src/less/mixins/carousel/base/carousel-mixins.less
  src/less/mixins/carousel/ds4/carousel-mixins.less
  src/less/mixins/carousel/ds6/carousel-mixins.less
  src/less/variables/ds4/carousel-variables.less
  src/less/variables/ds6/carousel-variables.less
  src/svg/ds4/icons.svg
Labels: module: carousel, squash: yes please

#842 Icon: Added overflow to DS4
  dist/icon/background/ds4/background.css
  dist/icon/background/ds6/background-bundle.css
  dist/icon/background/ds6/background.css
  dist/icon/foreground/ds4/foreground.css
  dist/icon/foreground/ds6/foreground.css
  dist/svg/ds4/icons.svg
  dist/variables/ds4/icon-variables.less
  docs/_includes/ds4/symbols.html
  docs/_includes/tests/icon.html
  docs/static/ds4/skin-base64.min.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  docs/test/icon/ds4/index.html
  docs/test/icon/ds6/index.html
  src/less/icon/background/base/background.less
  src/less/icon/background/ds4/background.less
  src/less/icon/background/ds6/background.less
  src/less/icon/foreground/base/foreground.less
  src/less/icon/foreground/ds4/foreground.less
  src/less/icon/foreground/ds6/foreground.less
  src/less/variables/ds4/icon-variables.less
  src/svg/ds4/icons.svg
Labels: squash: yes please

#831 Success message (new component)
  browser.json
  dist/button/ds4/button.css
  dist/button/ds6/button.css
  dist/cta-button/ds4/cta-button.css
  dist/cta-button/ds6/cta-button.css
  dist/expand-button/ds4/expand-button.css
  dist/expand-button/ds6/expand-button.css
  dist/mixins/button/base/button-mixins.less
  dist/notice/ds4/notice.css
  dist/notice/ds6/notice.css
  dist/pill/ds4/pill.css
  dist/pill/ds6/pill.css
  dist/success-message/ds4/success-message.css
  dist/success-message/ds6/success-message.css
  docs/_includes/common/main.html
  docs/_includes/common/module-list.html
  docs/_includes/common/success-message.html
  docs/_includes/tests/success-message.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  docs/test/index.html
  docs/test/success-message/ds4/index.html
  docs/test/success-message/ds6/index.html
  docs/test/success-message/index.html
  src/less/bundles/skin/ds4/skin.less
  src/less/bundles/skin/ds6/skin.less
  src/less/mixins/button/base/button-mixins.less
  src/less/success-message/base/success-message.less
  src/less/success-message/ds4/success-message.less
  src/less/success-message/ds6/success-message.less
  success-message.less
  success-message[skin-ds6].less
Labels: module: success-message, squash: yes please

#848 success-message: Fix fake-button display type and missing browser.json
  dist/success-message/ds4/success-message.css
  dist/success-message/ds6/success-message.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/success-message/base/success-message.less
  success-message.browser.json
Labels: module: success-message, squash: yes please

#844 Added guidance modifier to notice
  dist/notice/ds4/notice.css
  dist/notice/ds6/notice.css
  docs/_includes/common/notice.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/notice/base/notice.less
  src/less/notice/ds4/notice.less
  src/less/notice/ds6/notice.less
Labels: module: notice

#847 Updated notice test pages
  dist/notice/ds4/notice.css
  dist/notice/ds6/notice.css
  docs/_includes/tests/notice.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  docs/test/index.html
  docs/test/notice/ds4/index.html
  src/less/notice/base/notice.less
  src/less/notice/ds4/notice.less
  src/less/notice/ds6/notice.less
Labels: aspect: website, module: notice

#846 Percy: visual testing as a service
  .travis.yml
  Gemfile
  Gemfile.lock
  README.md
  docs/_includes/common/global.html
  docs/_includes/common/link.html
  docs/_includes/common/textbox.html
  docs/test/card/ds4/card-full-grid.html
  docs/test/card/ds4/card-full-hero.html
  docs/test/card/ds4/card-full.html
  docs/test/card/ds4/card-primary-grid.html
  docs/test/card/ds4/card-primary-hero.html
  docs/test/card/ds4/card-primary-regular.html
  docs/test/card/ds4/card-primary.html
  docs/test/card/ds4/card-regular-grid.html
  docs/test/card/ds4/card-regular-hero.html
  docs/test/card/ds4/card-regular.html
  docs/test/card/ds4/index.html
  docs/test/dialog/ds4/dialog-full-card-full.html
  docs/test/dialog/ds4/dialog-full-card-mixed.html
  docs/test/dialog/ds4/dialog-full-card-primary.html
  docs/test/dialog/ds4/dialog-full-card-regular.html
  docs/test/dialog/ds4/dialog-full-grid.html
  docs/test/dialog/ds4/dialog-lightbox-card-full.html
  docs/test/dialog/ds4/dialog-lightbox-card-mixed.html
  docs/test/dialog/ds4/dialog-lightbox-card-primary.html
  docs/test/dialog/ds4/dialog-lightbox-card-regular.html
  docs/test/dialog/ds4/dialog-lightbox-grid.html
  docs/test/dialog/ds4/index.html
  docs/test/grid/grid-card-desktop.html
  docs/test/grid/grid-card.html
  docs/test/grid/grid-layout.html
  docs/test/grid/grid-layout1.html
  docs/test/grid/grid-layout2.html
  docs/test/grid/index.html
  docs/test/index.html
  package.json
  scripts/cibuild
  yarn.lock
Labels: squash: yes please

#851 Changed page-notice__cta to just use btn and btn--secondary
  dist/button/ds4/button.css
  dist/button/ds6/button.css
  dist/notice/ds4/notice.css
  dist/notice/ds6/notice.css
  docs/_includes/common/notice.html
  docs/_includes/tests/notice.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  notice.browser.json
  notice.less
  notice[skin-ds6].less
  src/less/button/base/button.less
  src/less/notice/base/notice.less
  src/less/notice/ds4/notice.less
  src/less/notice/ds6/notice.less
Labels: module: notice

#854 Adds test pages for carousel, details, dialog, label
  docs/_includes/tests/carousel.html
  docs/_includes/tests/details.html
  docs/_includes/tests/dialog-full.html
  docs/_includes/tests/dialog-lightbox.html
  docs/_includes/tests/dialog-multistep.html
  docs/_includes/tests/dialog-panel-left.html
  docs/_includes/tests/dialog-panel-right.html
  docs/_includes/tests/dialog-subpage.html
  docs/_includes/tests/label.html
  docs/test/carousel/ds4/index.html
  docs/test/carousel/ds6/index.html
  docs/test/carousel/index.html
  docs/test/details/ds4/index.html
  docs/test/details/ds6/index.html
  docs/test/details/index.html
  docs/test/dialog-full/ds4/index.html
  docs/test/dialog-full/ds6/index.html
  docs/test/dialog-full/index.html
  docs/test/dialog-lightbox/ds4/index.html
  docs/test/dialog-lightbox/ds6/index.html
  docs/test/dialog-lightbox/index.html
  docs/test/dialog-multistep/index.html
  docs/test/dialog-panel-left/ds4/index.html
  docs/test/dialog-panel-left/ds6/index.html
  docs/test/dialog-panel-left/index.html
  docs/test/dialog-panel-right/ds4/index.html
  docs/test/dialog-panel-right/ds6/index.html
  docs/test/dialog-panel-right/index.html
  docs/test/dialog-subpage/index.html
  docs/test/dialog/ds4/dialog-full.html
  docs/test/dialog/ds4/dialog-search.html
  docs/test/dialog/ds4/index.html
  docs/test/dialog/index.html
  docs/test/index.html
  docs/test/label/ds4/index.html
  docs/test/label/ds6/index.html
  docs/test/label/index.html
Labels: aspect: tests, module: carousel, module: details, module: dialog, module: label

#853 Success message: button refactor
  dist/success-message/ds4/success-message.css
  dist/success-message/ds6/success-message.css
  docs/_includes/common/success-message.html
  docs/_includes/tests/success-message.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/success-message/base/success-message.less
  src/less/success-message/ds4/success-message.less
  src/less/success-message/ds6/success-message.less
  success-message.browser.json
  success-message.less
  success-message[skin-ds6].less
Labels: module: success-message, squash: yes please

#857 Use flex instead of margins for placement;
  dist/carousel/ds6/carousel.css
  dist/mixins/carousel/ds6/carousel-mixins.less
  docs/static/ds6/skin.min.css
  src/less/mixins/carousel/ds6/carousel-mixins.less
Labels: module: carousel

#855 Notice: changed page-notice--guidance to section-notice
  dist/mixins/carousel/ds6/carousel-mixins.less
  dist/notice/ds4/notice.css
  dist/notice/ds6/notice.css
  docs/_includes/common/notice.html
  docs/_includes/tests/notice.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/notice/base/notice.less
  src/less/notice/ds4/notice.less
  src/less/notice/ds6/notice.less
Labels: squash: yes please
