Repository eBay/skin, pull requests merged in 2019-06, with the labels that each got.

#647 Fixing disabled hover styles;
  dist/button/ds4/button.css
  dist/button/ds6/button.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/button/base/button-cta.less
  src/less/button/base/button-primary.less
  src/less/button/base/button-regular.less
  src/less/button/base/button-secondary.less
  src/less/button/ds4/button-secondary.less
  src/less/button/ds4/button.less
  src/less/button/ds6/button-cta.less
  src/less/button/ds6/button-primary.less
  src/less/button/ds6/button.less
Labels: module: button, squash: yes please

#651 Website: restore functionality to listbox and menu examples
  docs/_includes/common/badge.html
  docs/_includes/common/listbox.html
  docs/_includes/common/menu.html
  docs/src/js/base/listbox-button.js
  docs/src/js/base/listbox.js
  docs/src/js/base/main.js
  docs/src/js/base/menu-button.js
  docs/src/js/base/menu.js
  docs/static/ds4/docs.min.js
  docs/static/ds6/docs.min.js
  package.json
  yarn.lock
Labels: aspect: website, squash: yes please

#654 Fake Menu: Fixed item colour
  dist/combobox/ds4/combobox.css
  dist/dropdown/ds4/dropdown.css
  dist/listbox/ds4/listbox.css
  dist/menu/ds4/menu.css
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  src/less/dropdown/ds4/dropdown.less
Labels: module: menu, squash: yes please

#656 Notice: removed unnecessary icon setting;
  dist/notice/ds4/notice.css
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  src/less/notice/ds4/notice-page.less
Labels: module: notice, squash: yes please

#660 Button: secondary button disabled color;
  dist/button/ds4/button.css
  docs/static/ds4/skin.min.css
  src/less/button/ds4/button-secondary.less
Labels: module: button, squash: yes please

#661 Listbox: fix hover state colors;
  dist/button/ds4/button.css
  docs/_includes/common/listbox.html
  docs/static/ds4/skin.min.css
  src/less/button/ds4/button-regular.less
  src/less/button/ds4/button.less
Labels: squash: yes please

#659 Devdeps: upgraded lasso-autoprefixer and stylelint
  package.json
  yarn.lock
Labels: squash: yes please
