Repository eBay/skin, pull requests merged in 2019-01, with the labels that each got.

#518 Breadcrumbs has anchor instead of button closing tag in Docs
  docs/_includes/common/breadcrumb.html
Labels: squash: yes please

#519 Fix for tooltip close button alignment;
  dist/notice/ds6/notice.css
  dist/tooltip/ds6/tooltip.css
  docs/static/ds6/skin.min.css
  src/less/mixins/bubble/ds6/bubble.less
Labels: module: tooltip, squash: yes please

#522 Website: fix typo on breadcrumbs, pagination example
  docs/_includes/common/pagination.html
Labels: squash: yes please

#528 Fix combobox because of makeup-expander changes;
  dist/combobox/ds4/combobox.css
  dist/combobox/ds6/combobox.css
  dist/dropdown/ds4/dropdown.css
  dist/dropdown/ds6/dropdown.css
  dist/listbox/ds4/listbox.css
  dist/listbox/ds6/listbox.css
  dist/menu/ds4/menu.css
  dist/menu/ds6/menu.css
  docs/src/js/base/main.js
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  docs/static/ds6/skin.min.css
  package.json
  src/less/combobox/base/combobox.less
  src/less/dropdown/base/dropdown.less
  yarn.lock
Labels: module: combobox, squash: yes please

#525 Normalize DS4 and DS6 icons
  dist/icon/background/ds4/background.css
  dist/icon/background/ds6/background.css
  dist/icon/common/ds4/common.css
  dist/icon/common/ds6/common.css
  dist/less/ds4/mixins.less
  dist/less/ds4/variables.less
  dist/less/ds6/mixins.less
  dist/less/ds6/variables.less
  dist/svg/ds4/icons.svg
  dist/svg/ds6/icons.svg
  docs/_includes/common/bundles.html
  docs/_includes/common/icon.html
  docs/_includes/common/svg.html
  docs/_includes/ds4/icon-custom.html
  docs/_includes/ds4/icon.html
  docs/_includes/ds4/svg.html
  docs/_includes/ds4/symbols.html
  docs/_includes/ds6/icon-custom.html
  docs/_includes/ds6/icon.html
  docs/_includes/ds6/svg.html
  docs/_includes/ds6/symbols.html
  docs/_layouts/ds4/default.html
  docs/_layouts/ds6/default.html
  docs/ds6/index.html
  docs/index.html
  docs/src/less/ds4/index.less
  docs/src/less/ds6/index.less
  docs/static/ds4/docs.min.css
  docs/static/ds4/skin-base64.min.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.css
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  src/less/icon/background/ds4/background.less
  src/less/icon/background/ds6/background.less
  src/less/icon/common/ds4/common.less
  src/less/icon/common/ds6/common.less
  src/less/less/ds4/mixins.less
  src/less/less/ds4/variables.less
  src/less/less/ds6/mixins.less
  src/less/less/ds6/variables.less
  src/svg/ds4/icons.svg
  src/svg/ds6/icons.svg
Labels: squash: yes please

#539 Icon: changed module dependency order to fix css cascade
  icon/background.browser.json
  icon/foreground.browser.json
Labels: module: icon, type: bug
