Repository eBay/skin, pull requests merged in 2019-08, with the labels that each got.

#739 Added missing styles to listbox, combobox, and menu
  dist/listbox-button/ds4/listbox-button.css
  dist/listbox-button/ds6/listbox-button.css
  dist/menu-button/ds6/menu-button.css
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  docs/static/ds6/skin.min.css
  src/less/listbox-button/base/listbox-button.less
  src/less/listbox-button/ds6/listbox-button.less
  src/less/menu-button/ds6/menu-button.less
Labels: module: combobox, module: listbox, squash: yes please

#738 Filter button / link
  browser.json
  dist/filter-button/ds4/filter-button.css
  dist/filter-button/ds6/filter-button.css
  dist/mixins/filter-button/base/filter-button-mixins.less
  dist/mixins/filter-button/ds4/filter-button-mixins.less
  dist/mixins/filter-button/ds6/filter-button-mixins.less
  dist/pill/ds4/pill.css
  dist/pill/ds6/pill.css
  dist/variables/base/filter-button-variables.less
  dist/variables/ds4/filter-button-variables.less
  dist/variables/ds6/filter-button-variables.less
  docs/_includes/common/filter-button.html
  docs/_includes/common/install.html
  docs/_includes/common/pill.html
  docs/_layouts/ds4/default.html
  docs/_layouts/ds6/default.html
  docs/ds6/index.html
  docs/index.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  filter-button.browser.json
  filter-button.less
  filter-button[skin-ds6].less
  src/less/bundles/skin/ds4/skin.less
  src/less/bundles/skin/ds6/skin.less
  src/less/filter-button/base/filter-button.less
  src/less/filter-button/ds4/filter-button.less
  src/less/filter-button/ds6/filter-button.less
  src/less/gh/ds6/gh-mixins.less
  src/less/mixins/filter-button/base/filter-button-mixins.less
  src/less/mixins/filter-button/ds4/filter-button-mixins.less
  src/less/mixins/filter-button/ds6/filter-button-mixins.less
  src/less/pill/ds4/pill.less
  src/less/pill/ds6/pill.less
  src/less/variables/ds4/filter-button-variables.less
  src/less/variables/ds6/filter-button-variables.less
Labels: design system: DS6.5, ds6.5 sprint: 1, module: filter button, module: filter link, module: pill, squash: yes please

#740 Checkbox and radio: unselected color cleanup;
  dist/checkbox/ds4/checkbox.css
  dist/icon/background/ds4/background.css
  dist/icon/background/ds6/background.css
  dist/radio/ds4/radio.css
  dist/radio/ds6/radio.css
  docs/static/ds4/skin-base64.min.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  src/less/checkbox/ds4/checkbox.less
  src/less/less/ds4/variables.less
  src/less/less/ds6/variables.less
  src/less/radio/base/radio.less
  src/less/radio/ds4/radio.less
  src/less/radio/ds6/radio.less
  src/svg/ds6/icons.svg
Labels: module: checkbox, module: radio, squash: no thanks

#743 Process to version cdn.html file;
  docs/_includes/common/cdn.html
  docs/ds6/index.html
  docs/index.html
  package.json
  scripts/cdn-version.js
Labels: aspect: website

#747 Filter button improvements;
  dist/filter-button/ds4/filter-button.css
  dist/filter-button/ds6/filter-button.css
  docs/_includes/common/filter-button.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/filter-button/base/filter-button.less
  src/less/mixins/filter-button/base/filter-button-mixins.less
Labels: module: filter button, squash: yes please

#748 Filter menu
  browser.json
  dist/filter-menu/ds4/filter-menu.css
  dist/filter-menu/ds6/filter-menu.css
  dist/mixins/filter-button/base/filter-button-mixins.less
  dist/mixins/filter-menu/base/filter-menu-mixins.less
  dist/mixins/filter-menu/ds4/filter-menu-mixins.less
  dist/mixins/filter-menu/ds6/filter-menu-mixins.less
  dist/variables/ds4/filter-menu-variables.less
  dist/variables/ds6/filter-menu-variables.less
  docs/_includes/common/filter-menu.html
  docs/_includes/common/install.html
  docs/_layouts/ds4/default.html
  docs/_layouts/ds6/default.html
  docs/ds6/index.html
  docs/index.html
  docs/src/js/base/main.js
  docs/src/js/base/menu.js
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  docs/static/ds6/skin.min.css
  filter-menu.browser.json
  filter-menu.less
  filter-menu[skin-ds6].less
  src/less/bundles/skin/ds4/skin.less
  src/less/bundles/skin/ds6/skin.less
  src/less/filter-menu/base/filter-menu.less
  src/less/filter-menu/ds4/filter-menu.less
  src/less/filter-menu/ds6/filter-menu.less
  src/less/gh/ds6/gh-mixins.less
  src/less/mixins/filter-menu/base/filter-menu-mixins.less
  src/less/mixins/filter-menu/ds4/filter-menu-mixins.less
  src/less/mixins/filter-menu/ds6/filter-menu-mixins.less
  src/less/variables/ds4/filter-menu-variables.less
  src/less/variables/ds6/filter-menu-variables.less
Labels: module: filter menu, squash: yes please

#750 Tooltip: fix clipped icon
  dist/tooltip/ds4/tooltip.css
  docs/static/ds4/skin.min.css
  src/less/tooltip/ds4/tooltip.less
Labels: module: tooltip, squash: yes please

#749 DS 6.5 button updates
  dist/button/ds4/button.css
  dist/button/ds6/button.css
  dist/mixins/filter-menu/base/filter-menu-mixins.less
  dist/variables/ds4/button-variables.less
  dist/variables/ds6/button-variables.less
  docs/_includes/common/button.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/button/base/button.less
  src/less/button/ds4/button.less
  src/less/button/ds6/button.less
  src/less/variables/ds4/button-variables.less
  src/less/variables/ds6/button-variables.less
Labels: module: button, squash: yes please, type: feature

#756 adding regular button back for DS6 and fixing docs
  dist/button/ds4/button.css
  dist/button/ds6/button.css
  docs/_includes/common/button.html
  docs/_includes/ds4/card.html
  docs/_includes/tests/alignment.html
  docs/_includes/tests/button.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/button/base/button.less
  src/less/button/ds4/button.less
Labels: module: button

#751 Created a script cdn bundler
  README.md
  bin/generate-bundle.js
  package.json
  yarn.lock
Labels: aspect: build

#760 Notice - Moved margin to content as padding
  dist/notice/ds6/notice.css
  docs/static/ds6/skin.min.css
  src/less/notice/ds6/notice.less
Labels: module: notice

#758 Filter Menu Button
  browser.json
  dist/filter-button/ds4/filter-button.css
  dist/filter-button/ds6/filter-button.css
  dist/filter-menu-button/ds4/filter-menu-button.css
  dist/filter-menu-button/ds6/filter-menu-button.css
  dist/filter-menu/ds4/filter-menu.css
  dist/filter-menu/ds6/filter-menu.css
  dist/mixins/filter-button/base/filter-button-mixins.less
  docs/_includes/common/filter-button.html
  docs/_includes/common/filter-menu-button.html
  docs/_includes/common/filter-menu.html
  docs/_includes/tests/filter-button.html
  docs/_includes/tests/filter-menu-button.html
  docs/_includes/tests/filter-menu.html
  docs/_layouts/ds4/default.html
  docs/_layouts/ds6/default.html
  docs/ds6/index.html
  docs/index.html
  docs/src/js/base/main.js
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin-base64.min.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  docs/test/filter-button/ds4/index.html
  docs/test/filter-button/ds6/index.html
  docs/test/filter-button/index.html
  docs/test/filter-menu-button/ds4/index.html
  docs/test/filter-menu-button/ds6/index.html
  docs/test/filter-menu-button/index.html
  docs/test/filter-menu/ds4/index.html
  docs/test/filter-menu/ds6/index.html
  docs/test/filter-menu/index.html
  docs/test/index.html
  filter-menu-button.browser.json
  filter-menu-button.less
  filter-menu-button[skin-ds6].less
  src/less/bundles/skin/ds4/skin.less
  src/less/bundles/skin/ds6/skin.less
  src/less/filter-button/base/filter-button.less
  src/less/filter-menu-button/base/filter-menu-button.less
  src/less/filter-menu-button/ds4/filter-menu-button.less
  src/less/filter-menu-button/ds6/filter-menu-button.less
  src/less/filter-menu/base/filter-menu.less
  src/less/gh/ds6/gh-mixins.less
  src/less/mixins/filter-button/base/filter-button-mixins.less
Labels: module: filter menu button, squash: yes please

#769 Fix checkbox icon color
  dist/checkbox/ds4/checkbox.css
  dist/checkbox/ds6/checkbox.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/checkbox/base/checkbox.less
  src/less/checkbox/ds4/checkbox.less
  src/less/checkbox/ds6/checkbox.less
Labels: module: checkbox

#762 Fix button zoom padding issue
  dist/button/ds4/button.css
  dist/button/ds6/button.css
  dist/expand-button/ds4/expand-button.css
  dist/mixins/button/base/button-mixins.less
  dist/mixins/button/ds6/button-mixins.less
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/button/ds4/button.less
  src/less/button/ds6/button.less
  src/less/expand-button/ds4/expand-button.less
  src/less/expand-button/ds6/expand-button.less
  src/less/mixins/button/base/button-mixins.less
  src/less/mixins/button/ds6/button-mixins.less
Labels: module: button, squash: yes please

#771 Fix BEM issue; Inline SVG becomes default;
  dist/filter-menu-button/ds4/filter-menu-button.css
  dist/filter-menu-button/ds6/filter-menu-button.css
  dist/filter-menu/ds4/filter-menu.css
  dist/filter-menu/ds6/filter-menu.css
  docs/_includes/common/filter-menu-button.html
  docs/_includes/common/filter-menu.html
  docs/_includes/tests/filter-menu-button.html
  docs/_includes/tests/filter-menu.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/filter-menu-button/base/filter-menu-button.less
  src/less/filter-menu/base/filter-menu.less
Labels: module: filter menu button, squash: yes please

#770 backtrack checkbox fix from v9 to v8
  dist/checkbox/ds4/checkbox.css
  dist/checkbox/ds6/checkbox.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/checkbox/base/checkbox.less
  src/less/checkbox/ds4/checkbox.less
  src/less/checkbox/ds6/checkbox.less
Labels: module: checkbox

#774 Fixing documentation; remove dupe css rules;
  dist/filter-menu-button/ds4/filter-menu-button.css
  dist/filter-menu-button/ds6/filter-menu-button.css
  dist/filter-menu/ds4/filter-menu.css
  dist/filter-menu/ds6/filter-menu.css
  docs/_includes/common/filter-menu-button.html
  docs/_includes/common/filter-menu.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/filter-menu-button/base/filter-menu-button.less
  src/less/filter-menu/base/filter-menu.less
Labels: module: filter menu, module: filter menu button, squash: yes please

#772 Medium Icons for DS6.5
  dist/breadcrumb/ds6/breadcrumb.css
  dist/checkbox/ds6/checkbox.css
  dist/combobox/ds6/combobox.css
  dist/dialog/ds6/dialog.css
  dist/expand-button/ds6/expand-button.css
  dist/filter-menu-button/ds6/filter-menu-button.css
  dist/filter-menu/ds6/filter-menu.css
  dist/icon/background/ds6/background.css
  dist/icon/foreground/ds6/foreground.css
  dist/listbox-button/ds6/listbox-button.css
  dist/listbox/ds6/listbox.css
  dist/menu-button/ds6/menu-button.css
  dist/menu/ds6/menu.css
  dist/notice/ds6/notice.css
  dist/pagination/ds6/pagination.css
  dist/radio/ds6/radio.css
  dist/svg/ds6/icons.svg
  dist/tooltip/ds6/tooltip.css
  dist/variables/ds6/icon-variables.less
  docs/_includes/ds6/symbols.html
  docs/static/ds4/docs.min.js
  docs/static/ds6/docs.min.js
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  src/less/variables/ds6/icon-variables.less
  src/svg/ds6/icons.svg
Labels: design system: DS6.5, module: icon

#773 Add Titles helper classes
  dist/typography/ds4/typography.css
  dist/typography/ds6/typography.css
  docs/_includes/common/typography.html
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  docs/static/ds6/skin.min.css
  src/less/typography/base/typography.less
Labels: module: typography

#785 Badge Updates (6.5)
  dist/actionable/ds4/actionable.css
  dist/actionable/ds6/actionable.css
  dist/badge/ds4/badge.css
  dist/badge/ds6/badge.css
  dist/icon/background/ds4/background.css
  dist/icon/foreground/ds4/foreground.css
  dist/mixins/typography/ds4/typography-mixins.less
  dist/variables/ds4/icon-variables.less
  dist/variables/ds4/typography-variables.less
  docs/_includes/common/badge.html
  docs/_includes/tests/badge.html
  docs/static/ds4/skin-base64.min.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/actionable/base/actionable.less
  src/less/badge/base/badge.less
  src/less/badge/ds4/badge.less
  src/less/badge/ds6/badge.less
  src/less/mixins/typography/ds4/typography-mixins.less
  src/less/variables/ds4/icon-variables.less
  src/less/variables/ds4/typography-variables.less
Labels: module: badge, squash: yes please

#759 Infotip bugfixes
  dist/tooltip/ds4/tooltip.css
  dist/tooltip/ds6/tooltip.css
  docs/_includes/common/tooltip.html
  src/less/tooltip/base/tooltip.less
  src/less/tooltip/ds4/tooltip.less
  src/less/tooltip/ds6/tooltip.less
Labels: module: tooltip, squash: yes please

#788 Reencoded all icons to be #111820
  dist/breadcrumb/ds6/breadcrumb.css
  dist/checkbox/ds6/checkbox.css
  dist/combobox/ds6/combobox.css
  dist/dialog/ds6/dialog.css
  dist/expand-button/ds6/expand-button.css
  dist/filter-menu-button/ds6/filter-menu-button.css
  dist/filter-menu/ds6/filter-menu.css
  dist/icon-small/background/ds6/background.css
  dist/icon-small/foreground/ds6/foreground.css
  dist/icon/background/ds6/background-bundle.css
  dist/icon/background/ds6/background.css
  dist/icon/foreground/ds6/foreground.css
  dist/notice/ds6/notice.css
  dist/pagination/ds6/pagination.css
  dist/radio/ds6/radio.css
  dist/select/ds6/select.css
  dist/svg/ds6/icons.svg
  dist/tooltip/ds6/tooltip.css
  dist/variables/ds6/icon-variables.less
  docs/_includes/common/icon.html
  docs/_includes/ds6/icon-custom.html
  docs/_includes/ds6/symbols.html
  docs/src/less/ds4/index.less
  docs/src/less/ds6/index.less
  docs/static/ds4/docs.min.css
  docs/static/ds6/docs.min.css
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  docs/test/icon/ds6/index.html
  src/less/icon-small/background/ds6/background.less
  src/less/icon-small/foreground/ds6/foreground.less
  src/less/icon/background/ds6/background.less
  src/less/icon/foreground/ds6/foreground.less
  src/less/variables/ds6/icon-variables.less
  src/svg/ds6/icons.svg
Labels: module: icon, squash: yes please

#793 Multiple icon fixes
  dist/icon-small/background/ds6/background.css
  dist/icon/background/ds4/background.css
  dist/icon/background/ds6/background-bundle.css
  dist/icon/background/ds6/background.css
  dist/icon/foreground/ds4/foreground.css
  dist/icon/foreground/ds6/foreground.css
  dist/notice/ds6/notice.css
  dist/svg/ds4/icons.svg
  dist/svg/ds6/icons.svg
  dist/variables/ds4/icon-variables.less
  dist/variables/ds6/icon-variables.less
  docs/_includes/ds4/icon-custom.html
  docs/_includes/ds4/symbols.html
  docs/_includes/ds6/icon-custom.html
  docs/_includes/ds6/symbols.html
  docs/static/ds4/skin-base64.min.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  docs/test/icon/ds4/index.html
  docs/test/icon/ds6/index.html
  icon/background.browser.json
  icon/browser.json
  icon/foreground.browser.json
  src/less/icon/background/base/background.less
  src/less/icon/background/ds6/background.less
  src/less/icon/foreground/base/foreground.less
  src/less/icon/foreground/ds6/foreground.less
  src/less/notice/ds4/notice.less
  src/less/notice/ds6/notice.less
  src/less/variables/ds4/icon-variables.less
  src/less/variables/ds6/icon-variables.less
  src/svg/ds4/icons.svg
  src/svg/ds6/icons.svg
Labels: blocking: yes, design system: DS6.5, module: icon, module: notice, squash: yes please

#789 Breadcrumb updates for 6.5;
  dist/breadcrumb/ds4/breadcrumb.css
  dist/breadcrumb/ds6/breadcrumb.css
  dist/variables/ds4/icon-variables.less
  dist/variables/ds6/icon-variables.less
  docs/_includes/common/breadcrumb.html
  docs/_includes/tests/breadcrumb.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  docs/test/breadcrumb/ds4/index.html
  docs/test/breadcrumb/ds6/index.html
  docs/test/breadcrumb/index.html
  docs/test/index.html
  src/less/breadcrumb/base/breadcrumb.less
  src/less/breadcrumb/ds4/breadcrumb.less
  src/less/breadcrumb/ds6/breadcrumb.less
  src/less/variables/ds4/icon-variables.less
  src/less/variables/ds6/icon-variables.less
Labels: module: breadcrumbs, squash: yes please

#799 Base64 automation script
  bin/compress-svg.js
  dist/breadcrumb/ds6/breadcrumb.css
  dist/checkbox/ds6/checkbox.css
  dist/combobox/ds6/combobox.css
  dist/dialog/ds6/dialog.css
  dist/expand-button/ds6/expand-button.css
  dist/filter-menu-button/ds6/filter-menu-button.css
  dist/filter-menu/ds6/filter-menu.css
  dist/icon-small/background/ds6/background.css
  dist/icon/background/ds6/background-bundle.css
  dist/icon/background/ds6/background.css
  dist/listbox-button/ds6/listbox-button.css
  dist/listbox/ds6/listbox.css
  dist/menu-button/ds6/menu-button.css
  dist/menu/ds6/menu.css
  dist/notice/ds6/notice.css
  dist/pagination/ds6/pagination.css
  dist/radio/ds6/radio.css
  dist/select/ds6/select.css
  dist/svg/ds6/icons.svg
  dist/tooltip/ds6/tooltip.css
  dist/variables/ds4/base64-variables.less
  dist/variables/ds6/base64-variables.less
  dist/variables/ds6/icon-variables.less
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  package.json
  scripts/README.md
  scripts/generate-bundle.js
  scripts/generate-images.js
  scripts/image-config.json
  src/less/variables/ds4/base64-variables.less
  src/less/variables/ds6/base64-variables.less
  src/less/variables/ds6/icon-variables.less
  src/svg/ds6/icons.svg
  yarn.lock
Labels: aspect: build, module: icon, squash: yes please
