Repository eBay/skin, pull requests merged in 2019-10, with the labels that each got.

#865 Website: added and moved some site links
  docs/_layouts/default.html
  docs/_layouts/testindex.html
  docs/archive/index.html
  docs/split/index.html
  docs/src/less/base/index.less
  docs/static/ds4/docs.min.css
  docs/static/ds6/docs.min.css
Labels: squash: yes please

#869 DevDeps: upgraded to latest versions
  .stylelintrc-css
  .stylelintrc-less
  docs/static/ds4/docs.min.js
  docs/static/ds6/docs.min.js
  package.json
  yarn.lock
Labels: squash: no thanks

#866 Menu Button: added generic class for toggling menu
  dist/menu-button/ds4/menu-button.css
  dist/menu-button/ds6/menu-button.css
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/menu-button/base/menu-button.less
Labels: squash: yes please

#870 Switch: add non-checkbox version #833
  dist/switch/ds4/switch.css
  dist/switch/ds6/switch.css
  docs/_includes/common/field.html
  docs/_includes/common/switch.html
  docs/_includes/tests/switch.html
  docs/src/js/base/main.js
  docs/src/js/base/switch.js
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  docs/static/ds6/skin.min.css
  src/less/switch/base/switch.less
Labels: squash: yes please

#879 Removed paddles on focus/hover for small screens
  dist/carousel/ds4/carousel.css
  dist/carousel/ds6/carousel.css
  dist/mixins/carousel/base/carousel-mixins.less
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/mixins/carousel/base/carousel-mixins.less
Labels: module: carousel

#880 871-change disabled textbox color from grey1 to grey3
  dist/textbox/ds6/textbox.css
  docs/static/ds6/skin.min.css
  src/less/textbox/ds6/textbox.less
Labels: module: textbox, squash: yes please

#883 Grey out label; Add disabled text utility class;
  dist/field/ds4/field.css
  dist/field/ds6/field.css
  dist/utility/ds4/utility.css
  dist/utility/ds6/utility.css
  docs/_includes/tests/field.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/field/base/field.less
  src/less/field/ds4/field.less
  src/less/field/ds6/field.less
  src/less/utility/base/utility.less
  src/less/utility/ds4/utility.less
  src/less/utility/ds6/utility.less
Labels: squash: yes please

#884 Listbox button: aria invalid
  dist/listbox-button/ds4/listbox-button.css
  dist/listbox-button/ds6/listbox-button.css
  docs/_includes/tests/listbox-button.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/listbox-button/base/listbox-button.less
  src/less/listbox-button/ds4/listbox-button.less
  src/less/listbox-button/ds6/listbox-button.less
Labels: squash: yes please

#886 Field: description colors and examples
  dist/field/ds6/field.css
  dist/variables/ds6/color-variables.less
  docs/_includes/common/field.html
  docs/_includes/tests/field.html
  docs/static/ds6/skin.min.css
  src/less/field/ds6/field.less
  src/less/variables/ds6/color-variables.less
Labels: module: field, squash: yes please

#887 Icon: attention filled small
  dist/icon/background/ds6/background-bundle.css
  dist/icon/background/ds6/background.css
  dist/icon/foreground/ds6/foreground.css
  dist/svg/ds6/icons.svg
  dist/variables/ds6/base64-variables.less
  dist/variables/ds6/icon-variables.less
  docs/_includes/ds6/symbols.html
  docs/static/ds6/skin-base64.min.css
  docs/static/ds6/skin.min.css
  docs/test/icon/ds6/index.html
  src/less/icon/background/ds6/background.less
  src/less/icon/foreground/ds6/foreground.less
  src/less/variables/ds6/base64-variables.less
  src/less/variables/ds6/icon-variables.less
  src/svg/ds6/icons.svg
Labels: module: icon, squash: yes please

#876 Section Title: new component
  browser.json
  dist/section-title/ds4/section-title.css
  dist/section-title/ds6/section-title.css
  dist/variables/ds6/typography-variables.less
  docs/_includes/common/main.html
  docs/_includes/common/module-list.html
  docs/_includes/common/section-title.html
  docs/_includes/tests/section-title.html
  docs/static/ds4/docs.min.js
  docs/static/ds4/skin.min.css
  docs/static/ds6/docs.min.js
  docs/static/ds6/skin.min.css
  docs/test/index.html
  docs/test/section-title/ds4/index.html
  docs/test/section-title/ds6/index.html
  docs/test/section-title/index.html
  section-title.browser.json
  section-title.less
  section-title[skin-ds6].less
  src/less/bundles/skin/ds4/skin.less
  src/less/bundles/skin/ds6/skin.less
  src/less/section-title/base/section-title.less
  src/less/section-title/ds4/section-title.less
  src/less/section-title/ds6/section-title.less
  src/less/variables/ds6/typography-variables.less
Labels: squash: yes please

#889 Added show-contol class to force paddles to show
  dist/carousel/ds4/carousel.css
  dist/carousel/ds6/carousel.css
  dist/mixins/carousel/base/carousel-mixins.less
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/mixins/carousel/base/carousel-mixins.less
Labels: module: carousel

#893 Changed pagination next/prev to support svg
  dist/icon/foreground/ds4/foreground.css
  dist/icon/foreground/ds6/foreground.css
  dist/pagination/ds4/pagination.css
  dist/pagination/ds6/pagination.css
  dist/svg/ds4/icons.svg
  dist/svg/ds6/icons.svg
  dist/variables/ds4/icon-variables.less
  dist/variables/ds4/pagination-variables.less
  dist/variables/ds6/icon-variables.less
  dist/variables/ds6/pagination-variables.less
  docs/_includes/ds4/symbols.html
  docs/_includes/ds6/symbols.html
  docs/static/ds4/skin.min.css
  docs/static/ds6/skin.min.css
  src/less/icon/foreground/base/foreground.less
  src/less/pagination/base/pagination.less
  src/less/variables/ds4/icon-variables.less
  src/less/variables/ds4/pagination-variables.less
  src/less/variables/ds6/icon-variables.less
  src/less/variables/ds6/pagination-variables.less
  src/svg/ds4/icons.svg
  src/svg/ds6/icons.svg
Labels: module: pagination

#895 Infotop: updated hover/focus color
  dist/tooltip/ds6/tooltip.css
  dist/variables/ds6/base64-variables.less
  docs/static/ds6/skin.min.css
  scripts/image-config.json
  src/less/tooltip/ds6/tooltip.less
  src/less/variables/ds6/base64-variables.less
Labels: design system: DS6, module: tooltip
